.contact-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .covid-information {
    background-color: var(--ion-color-secondary);
    color: var(--ion-color-light);
    padding: 1rem;
    width: 100%;
  }

  ion-list {
    width: 100%;
  }

  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    background-color: var(--ion-color-tertiary);
  }
}

ion-item {
  --padding-bottom: 0.1rem;
  --padding-top: 0.1rem;
  --inner-padding-bottom: 0.1rem;
  --inner-padding-top: 0.1rem;
  --min-height: 0.2rem;
}
