<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="myQuarantine">
      <ion-icon name="home"></ion-icon>
      <ion-label>Moja kwarantanna</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="chatbubble-ellipses"></ion-icon>
      <ion-label>Ustawienia</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>Statystyki</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
