<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Koronawirus na świecie
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <!-- <ion-toolbar>
      <ion-title size="large">Koronawirus na świecie</ion-title>
    </ion-toolbar> -->
  </ion-header>
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-searchbar showCancelButton="never" [(ngModel)]="searchPhrase" (ionInput)="handleInput($event)"></ion-searchbar>
    <ion-list>
      <ion-item>
        <ion-label>
          Polska:<br/>
          Nowe potwierdzone: {{countries[133].NewConfirmed}}<br/>
          Wszystie potwierdzone: {{countries[133].TotalConfirmed}}<br/>
          Zgony dziś: {{countries[133].NewDeaths}}<br/>
          Zgony wszystkie: {{countries[133].TotalDeaths}}<br/>
        </ion-label>
      </ion-item>
      <ion-item *ngFor="let country of countries | search: searchPhrase">
        <ion-label>
          {{country.Country}}:<br/>
          Nowe potwierdzone: {{country.NewConfirmed}}<br/>
          Wszystie potwierdzone: {{country.TotalConfirmed}}<br/>
          Zgony dziś: {{country.NewDeaths}}<br/>
          Zgony wszystkie: {{country.TotalDeaths}}<br/>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>
