<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Quarantine
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My quarantine</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="12">
          <ion-input type="number" placeholder="Wpisz PESEL" [(ngModel)]="pesel"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="12">
          <ion-button (click)="checkPesel()">Zatwierdź</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="12">
          <ion-button (click)="takePicture()">Take picture</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="12">
          <img id="myImage" src="" alt="none">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
