<ion-header>
  <ion-toolbar>
    <ion-title>
      Moja kwarantanna
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <div class="quarantine-container">
      <div class="quarantine-header-container">
        <div class="quarantine-header">
          <ion-text class="ion-margin-bottom ion-text-center" style="font-weight: bold">
            <h3>Na kwarantannie od:</h3>
            <h3>{{ startingQuaratineDate.toLocaleDateString() }}</h3>
          </ion-text>
          <ion-text class="ion-text-center">
            <h6>
              Pozostało: dafasfafa
            </h6>
            <h6>
              {{ daysLeft }} dni {{ hoursLeft }} godzin {{ minutesLeft }} minut {{ secondsLeft }} sekund
            </h6>
          </ion-text>
        </div>
        <ion-progress-bar value="{{ progress }}" color="danger"></ion-progress-bar>
      </div>
      <div class="quarantine-body">
        <div [hidden]="didUserSendDataToday" style="display: flex; flex-direction: column; align-items: center">
          <ion-text class="ion-margin-bottom">Prześlij nam swoje zdjęcie i lokalizację.</ion-text>
          <ion-button class="send-photo-button" color="primary" (click)="sendPictureAndLocation()" disabled="{{ takePictureButtonDisabled }}"><ion-icon name="camera"></ion-icon></ion-button>
          <ion-label>{{ sendingPhotoState }}</ion-label>
        </div>
        <div [hidden]="!didUserSendDataToday" style="display: flex; flex-direction: column; align-items: center">
          <ion-text class="ion-margin-bottom ion-text-center">Dzisiaj przesłano już lokalizację i zdjęcie. Dziękujemy!</ion-text>
          <ion-icon class="success-icon" name="checkmark-circle" color="success"></ion-icon>
          <ion-label>{{ sendingPhotoState }}</ion-label>
        </div>
      </div>
      <div class="quarantine-calendar">
        <div *ngFor="let day of days" class="day">
          <ion-text class="ion-text-center border-bottom" color="light">
            {{ day.day }}
          </ion-text>
          <ion-icon [name]="day.dataSent ? 'checkmark-circle' : 'close-circle'" [color]="day.dataSent ? 'success' : 'danger'"></ion-icon>
        </div>
      </div>
    </div>
  </ion-content>
