<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Quarantine
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My quarantine</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-label>Na kwarantannie od {{ startingQuaratineDate.toLocaleDateString() }}.</ion-label>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-label>Pozostało {{ daysLeft }} dni {{ hoursLeft }} godzin {{ minutesLeft }} minut {{ secondsLeft }} sekund.</ion-label>
        <ion-progress-bar value="{{ progress }}"></ion-progress-bar>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-button (click)="sendPictureAndLocation()" disabled="{{ takePictureButtonDisabled }}">Take picture</ion-button>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-label>{{ sendingPhotoState }}</ion-label>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-button class="ion-home color-primary item" href="#" onclick="window.open('https://www.gov.pl/web/koronawirus', '_system', 'location=yes'); return false;">Koronawirus w Polsce</ion-button>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
